<%= form_for user do |form| %>
  <div>
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>
  <div>
    <%= form.label :personal_statement %>
    <%= form.text_area :personal_statement %>
  </div>

  <%= form.submit %>
<% end %>
