<div id="container">
  <div id="background">
    <div id="questionnaire">
      <% if @question %>
        <h2>Answer some questions:</h2>
      </br>
      <div>
        <h3><%= @question.prompt %></h3>
        <%= form_for @question.responses.new do |form| %>
          <%= form.hidden_field :question_id %>
        <div>
          <%= form.radio_button :positive, "0" %>
          <h5><%= form.label :true, @question.positive %></h5>
        </div>
        <div>
          <%= form.radio_button :positive, "1" %>
          <h5><%= form.label :false, @question.negative %></h5>
        </div>
        <%= form.submit "Answer!"%>
      <% end %>
      </div>
    <% else %>
      <h2>Questionnaire Complete!</h2>
    <% end %>
    </div>
  </div>
</div>
