<div id="container">
  <div id="questionnaire">
    <% if @question %>
      <h2>Answer some questions</h2>
    </br>
    <div>
      <h4><%= @question.prompt %></h4>
      <%= form_for @question.responses.new do |form| %>
        <%= form.hidden_field :question_id %>
      <div>
        <%= form.radio_button :positive, "0" %>
        <%= form.label :true, @question.positive %>
      </div>
      <div>
        <%= form.radio_button :positive, "1" %>
        <%= form.label :false, @question.negative %>
      </div>
      <%= form.submit "Answer!"%>
    <% end %>
    </div>
  <% else %>
      <h3>Questionnaire Complete!</h3>
    </br>
    <img src="assets/zombie_city_2.jpg" alt="Zombie City"> 
  <% end %>
  </div>
</div>
